.App {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topImage{
  background-image: url('./images/top.png');
    background-repeat: no-repeat;
    background-position-x: right;
}

/* .bottomImage{
  background-image: url('./images/bottom.png');
    background-repeat: no-repeat;
    background-position-x: bottom;
} */


