body {
  margin: 0;
  background: #F5F7FB;
  text-align: center;
  font-family: 'Inter', sans-serif;
  background-image: url('./images/bottom.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btnStartQuiz{
  background: #4D5B9E;
  border-radius: 15px;
  width: 193px;
  height: 52px;
  color: #F5F7FB;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #F5F7FB;
}
.headerText{
  font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 31.25px;
line-height: 37px;
text-align: center;
color: #293264;
}

.firstContent{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #293264;
}

.question{
  font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #293264;
}
.quiz{
  text-align: left;
}